:root {
    --primary-color: #2196f3;
    --background-color: #ffffff;
    --secondary-color: #F5F4FA;
  }
body {
    font-family: "Roboto", sans-serif; 
}
a {
   text-decoration: none;
}
ul {
    list-style: none;
}
.logo-header {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(16/26);
    letter-spacing: 0.02em;
}
.logo-web {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(30/26);
    letter-spacing: 0.02em;
}
.nav-link {
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;
color: #212121;
}
.primary-button {
    background-color: var(--secondary-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height:calc(30/16);
    letter-spacing: 0.06em;
    border: none;
}
.primary-button:hover {
    color: var(--background-color);
    background-color: var(--primary-color);
}
.primary-button:focus {
    color: var(--background-color);
    background-color: var(--primary-color);
}

.heder-contacts {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

}
.heder-contacts:hover {
    color: var(--primary-color);
}

.hero-title {
    color: var(--background-color);
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: calc(60/44);
    letter-spacing: 0.06em;
}
.section-hero {
    background-color: #2F303A;
}
.section-features {
    background-color:  var(--background-color);
}
.features-title {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
}
.section-features {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14); 
    letter-spacing: 0.03em
}
.features-text {
    font-size: 14px;
    font-weight: 400;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}
.section-what-do-we-do {
    font-style: normal;
    color: #212121;
}
.what-do-we-do-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em; 
}
.section-our-team {
    font-style: normal;
    background-color: var (--secondary-color);
}
.footer {
    color: var(--background-color);
    background-color: #2F303A;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}
.our-team-item {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
}
.item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(18/36);
    letter-spacing: 0.06em;
}
.item-text {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em
}
.our-team-item-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
}
.our-team-position {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
}
.contacts-footer {
    color: var(--background-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.6); 
}
.logo-footer {
    color: var(--background-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
}
.button-container {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
}
.portfolio-button {
    color: #212121
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em

} 

